[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = ">=3.0.7"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-decouple = "*"
graphene-django = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-tinymce4-lite = "*"

[requires]
python_version = "3.7"
