[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
python-decouple = "*"
graphene-django = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-tinymce4-lite = "*"

[requires]
python_version = "3.7"
